<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech BlogTopia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>


  <body>

    <nav class="navbar is-primary text is-dark" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-dark">
        <strong>Home</strong>
      </a>

      <a class="navbar-item has-text-dark" href="https://github.com/evohat3/tech-blog">
        <strong>Documentation</strong>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-white has-text-dark js-modal-trigger" data-target="modal-js-signup">
            <strong>Sign up</strong>
          </a>
          
          <a class="button is-dark">
            <strong>Log in</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  
<div>
{{{ body }}}
</div>


<footer class="footer has-background-primary">
  <div class="content has-text-centered has-text-dark">
by Nigel Poblete
  </div>
</footer>


  </body>

</html>