<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech BlogTopia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/public/style.css">
  </head>


  <body class="has-background-dark">

    <nav class="navbar is-primary text is-dark border-bottom border-4 border-light" role="navigation" aria-label="main navigation">

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item has-text-dark ">
        <strong>Home</strong>
      </a>

      <a class="navbar-item has-text-dark" href="https://github.com/evohat3/tech-blog">
        <strong>Dashboard</strong>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-danger has-text-dark border border-4 border-dark">
            <strong>Sign up</strong>
          </a>
          
          <a class="button is-dark border border-4 border-dark">
            <strong class="has-text-success">Log in</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
  
<section class="section">
  <h1 class="title">Section</h1>
  <h2 class="subtitle">
   {{{ body }}}
  </h2>
</section>





<footer class="footer has-background-primary border-top border-5 border-ligh " >
  <div class="content has-text-centered has-text-dark ">
by Nigel Poblete
  </div>
</footer>

<script src="/public/scripts.js"></script>
  </body>

</html>