
<div class="column ml-6 mr-6 pb-6">


<div class="box has-background-primary border border-4 border-dark w-50 mx-auto">
  <h1 class="has-text-centered mb-6"><strong class="has-text-dark">Create An Account</strong></h1>
</div>


<div class="ml-6">

<div class="field w-50 mx-auto">
  <label class="label has-text-white mb-5">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input has-text-grey w-75 border border-1 border-dark" type="text" placeholder="Email" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>


<div class="field mt-6 mx-auto">
  <label class="label has-text-white mb-5">Password</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input has-text-grey w-75 border border-1 border-dark" type="email" placeholder="Password" value="">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>


<div class="field is-grouped mt-6">
  <div class="control">
    <button class="button is-primary has-text-dark border border-4 border-dark"><strong>Sign Up</strong></button>
  </div>
  <div class="control">
    <button class="button is-primary border border-4 border-dark"><strong class="has-text-dark">Cancel</strong></button>
  </div>
</div>

</div>


</div>